<%- include('./partials/header.ejs') %>
<title>Boats</title>
</head>
    <body>
        <%- include(''./partials/navbar.ejs') %>
        <ul id='load'>
            <li id='id'>
                id: <%= id %>
            </li>
            <li id='volume'>
                volume: <%= volume %>
            </li>
            <li id='content'>
                content: <%= content %>
            </li>
        </ul>
    </body>

</html>