<%- include('./partials/header.ejs') %>
    <!-- Google Platform Library that integrates Google Sign-In. -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Specify client id -->
    <meta name="google-signin-client_id" content=<%=process.env.GCLOUD_CLIENT_ID %>>
    <style>
        /*Wrap text*/
        .list-group-item {
            word-break: break-all;
        }
    </style>
    <title>User Info</title>
    </head>


    <body>
        <%- include('./partials/navbar.ejs', {title: 'User Info' , active: 'User Info' }) %>
            <script>
                async function signOut() {
                    const auth2 = gapi.auth2.getAuthInstance();
                    try {
                        await auth2.signOut();
                        console.log('User signed out.');
                    }
                    catch (e) {
                        throw e;
                    }
                }
            </script>
            <div class="row justify-content-center align-items-center" style="margin-top: 4rem;">
            <!-- <div class="col-sm-6">
                    <img src="<%= picture %>" class="rounded" alt="">
                </div> -->
            <div class="col-sm-6" align="center">
                <div class="card w-50">
                    <img class="card-img-top" src="<%= picture %>" alt="Card image cap" style="max-height: 15vw;">
                    <div class="card-body">
                        <h5 class="card-title">Details</h5>
                        <p class="card-text">Details from your Google Account.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">user id: <%= googleId %>
                        </li>
                        <li class="list-group-item">given name: <%= givenName %>
                        </li>
                        <li class="list-group-item">family name: <%= familyName %>
                        </li>
                        <li class="list-group-item">email: <%= email %>
                    </ul>
                </div>
            </div>
            </div>
    </body>

    </html>